

body {
    overflow: hidden;
  }

#start-background{
width: 1000px;
height: 600px;
display: block;
margin: auto;
}

#canvas{
    width: 1000px;
    height: 600px;
    display: block;
    margin: auto;
    border: 1px solid black;
    background-image: url('images/gameback1.png');
    background-size: cover;
    background-position: center; 
    }



#start-button{
    background-image: url(images/Button-PNG.png);
    background-size: cover;
    background-position: center; 
    width: 280px;
    height: 120px;
    border: none; 
    cursor: pointer;
}